. body {
  background-color: #effdf5;
}

.navbar {
  width: 91%;
}

.detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
}

.detail-div {
  display: flex;
  align-items: center;
}

#image-div {
  background-image: url("../img/background.drawio.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

#image-div img {
  max-width: 80%;
  margin: auto;
}

.container {
  width: 95%;
  margin: auto;
  margin-top: 200px;
}
