.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
}

.left-side {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  padding: 0 2%;
}

.logo img {
  height: 40px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

li {
  list-style: none;
}

.left-side li {
  height: 10vh;
  display: flex;
  align-items: center;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0.1;
}

.account {
  display: none;
}

.dropdown {
  position: absolute;
  top: 8vh;
  right: 1vh;
  border: 0.5px solid;
  border-radius: 5px;
  border-color: #212121;
  padding: 0.5%;
  box-shadow: 0 0 10px #212121;
  background-color: #00b98e;
  z-index: 2;
}

.user-name {
  margin-bottom: 5%;
  padding: 2%;
  width: 180px;
  border-bottom: 1px solid #212121;
  color: #757575;
}

.user-name:hover {
  cursor: default;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
}

.dropdown li {
  padding: 2%;
  width: 180px;
}

.dropdown li:hover {
  background-color: #424242;
  border-radius: 3px;
}



@media screen and (max-width: 1200px) {
  .logo {
    flex: 1;
    display: flex;
    justify-content: center;
  }


  .burger-menu-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    margin: auto;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .burger-menu-dropdown li {
    width: 90vw;
    display: flex;
    justify-content: center;
    color:#00b98e;
  }

  .burger-menu-dropdown li:hover {
    color: #00b98e;
    background-color: rgba(66, 66, 66, 0.3);
    border-radius: 8px;
  }

  .hide-burger-menu {
    display: none;
  }
  .right-side {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .account {
    display: block;
    align-items: center;
    margin-right: 30%;
  }
  
}
